In [18]:
import pandas as pd
import requests
# import xlrd 
import json

In [19]:
#import data from url to get the state abbr
url="http://worldpopulationreview.com/static/states/name-abbr.json"
d = requests.get(url).json()

states_abbr = pd.DataFrame(d.items() , columns=["State","State Abbr"])

states_abbr.head()

            State State Abbr
0         Alabama         AL
1          Alaska         AK
2  American Samoa         AS
3         Arizona         AZ
4        Arkansas         AR

In [48]:
#2016 Adult Asthma
url_2016 = 'https://www.cdc.gov/asthma/brfss/2016/tableL1.htm'

df_2016 = pd.read_html(url_2016)

df_asthma_2016=df_2016[0]

asthma_2016 =df_asthma_2016.iloc[1:]

#list(asthma_2016.columns)

asthma_2016 = asthma_2016.rename(columns={'Sample Size §':'Sample Size'})
asthma_2016.drop(asthma_2016.index[51], inplace=True)

asthma_2016['Year']='2016'
asthma_2016.head()

,State,Sample Size,Prevalence (percent),Standard Error,95% CI* (percent),|| || ||,Prevalence (number),95% CI* (number),Year
1,AL,7015.0,14.9,0.60,(13.8–16.1),||,563908.0,"(518,048–609,768)",2016
2,AK,2906.0,14.2,1.08,(12.1–16.4),||,78995.0,"(67,042–90,948)",2016
3,AZ,10903.0,14.6,0.57,(13.5–15.7),||,771201.0,"(709,808–832,595)",2016
4,AR,5279.0,14.3,0.91,(12.6–16.1),||,327559.0,"(285,053–370,066)",2016
5,CA,11370.0,12.8,0.39,(12.1–13.6),||,3895034.0,"(3,657,836–4,132,232)",2016

In [49]:
#2015 Adult Asthma
url_2015 = 'https://www.cdc.gov/asthma/brfss/2015/tableL1.html'

df_2015 = pd.read_html(url_2015)

df_asthma_2015=df_2015[0]

asthma_2015 =df_asthma_2015.iloc[1:]
asthma_2015.drop(asthma_2015.index[51], inplace=True)

asthma_2015['Year']='2015'
asthma_2015.head()

C:\Users\ksmur\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,State,Sample Size,Prevalence (percent),Standard Error,95% CI* (percent),|| || ||,Prevalence (number),95% CI* (number),Year
1,AL,7924.0,15.6,0.58,(14.5 – 16.8),||,586899.0,"(542,879 – 630,918)",2015
2,AK,3642.0,13.4,1.02,(11.4 – 15.4),||,73931.0,"(62,413 – 85,448)",2015
3,AZ,7912.0,15.7,0.61,(14.5 – 16.9),||,812312.0,"(747,644 – 876,981)",2015
4,AR,5234.0,16.1,0.96,(14.2 – 18.0),||,364673.0,"(319,408 – 409,939)",2015
5,CA,12568.0,12.9,0.39,(12.1 – 13.6),||,3859786.0,"(3,626,298 – 4,093,275)",2015

In [43]:
#2014 Adult Asthma
url_2014 = 'https://www.cdc.gov/asthma/brfss/2014/tableL1.htm'

df_2014 = pd.read_html(url_2014)

df_asthma_2014=df_2014[0]

asthma_2014 =df_asthma_2014.iloc[1:]
asthma_2014.drop(asthma_2014.index[51], inplace=True)

asthma_2014['Year']='2014'
asthma_2014

C:\Users\ksmur\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,State,Sample Size,Prevalence (percent),Standard Error,95% CI* (percent),|| || ||,Prevalence (number),95% CI* (number),Year
1,AL,8620.0,14.6,0.56,(13.5 – 15.7),||,542973.0,"(500,848 – 585,098)",2014
2,AK,4375.0,12.4,0.70,(11.1 – 13.8),||,68955.0,"(61,153 – 76,756)",2014
3,AZ,14821.0,14.3,0.49,(13.3 – 15.3),||,725658.0,"(674,592 – 776,723)",2014
4,AR,5245.0,13.3,0.74,(11.9 – 14.8),||,300882.0,"(267,523 – 334,240)",2014
5,CA,8806.0,12.7,0.44,(11.8 – 13.5),||,3726172.0,"(3,466,949 – 3,985,395)",2014
6,CO,13363.0,12.2,0.38,(11.5 – 13.0),||,501730.0,"(470,266 – 533,194)",2014
7,CT,7927.0,14.1,0.57,(13.0 – 15.2),||,396819.0,"(364,308 – 429,329)",2014
8,DE,4288.0,14.4,0.80,(12.8 – 15.9),||,104718.0,"(92,857 – 116,579)",2014
9,DC,4053.0,17.2,1.13,(15.0 – 19.5),||,93329.0,"(80,414 – 106,244)",2014
10,FL,9792.0,12.2,0.46,(11.2 – 13.1),||,1919522.0,"(1,772,658 – 2,066,385)",2014
11,GA,6330.0,13.8,0.62,(12.6 – 15.0),||,1050193.0,"(956,011 – 1,144,376)",2014
12,HI,7221.0,16.2,0.64,(14.9 – 17.5),||,179657.0,"(165,097 – 194,217)",2014
13,ID,5469.0,12.3,0.63,(11.1 – 13.6),||,148226.0,"(133,265 – 163,187)",2014
14,IL,5044.0,14.0,0.65,(12.7 – 15.3),||,1379722.0,"(1,250,591 – 1,508,852)",2014
15,IN,11489.0,14.6,0.46,(13.7 – 15.5),||,731809.0,"(684,987 – 778,632)",2014
16,IA,8100.0,13.2,0.54,(12.1 – 14.2),||,312796.0,"(286,681 – 338,912)",2014
17,KS,13698.0,13.6,0.36,(12.9 – 14.3),||,296095.0,"(280,188 – 312,002)",2014
18,KY,11164.0,16.9,0.63,(15.6 – 18.1),||,572638.0,"(528,504 – 616,772)",2014
19,LA,6763.0,12.5,0.51,(11.5 – 13.5),||,441944.0,"(406,315 – 477,573)",2014
20,ME,9106.0,16.4,0.55,(15.3 – 17.5),||,175024.0,"(162,930 – 187,118)",2014
21,MD,12527.0,13.5,0.59,(12.3 – 14.6),||,623753.0,"(567,268 – 680,239)",2014
22,MA,15589.0,17.6,0.50,(16.6 – 18.6),||,939645.0,"(884,877 – 994,413)",2014
23,MI,8440.0,15.3,0.51,(14.3 – 16.4),||,1177092.0,"(1,097,310 – 1,256,873)",2014
24,MN,16380.0,11.8,0.32,(11.2 – 12.5),||,494939.0,"(467,856 – 522,021)",2014
25,MS,4189.0,12.5,0.75,(11.1 – 14.0),||,282639.0,"(248,475 – 316,804)",2014
26,MO,7057.0,14.5,0.66,(13.2 – 15.8),||,674282.0,"(611,458 – 737,106)",2014
27,MT,7483.0,13.4,0.60,(12.2 – 14.6),||,107557.0,"(97,869 – 117,244)",2014
28,NE,22355.0,12.2,0.38,(11.5 – 13.0),||,172714.0,"(161,892 – 183,536)",2014
29,NV,3741.0,12.3,0.82,(10.7 – 13.9),||,264500.0,"(229,549 – 299,451)",2014
30,NH,6161.0,14.1,0.63,(12.9 – 15.3),||,148703.0,"(135,367 – 162,039)",2014
31,NJ,13002.0,12.4,0.44,(11.5 – 13.3),||,860658.0,"(798,988 – 922,328)",2014
32,NM,8915.0,14.4,0.58,(13.2 – 15.5),||,226745.0,"(208,132 – 245,357)",2014
33,NY,6847.0,15.0,0.58,(13.9 – 16.2),||,2323921.0,"(2,139,416 – 2,508,426)",2014
34,NC,7265.0,11.5,0.48,(10.5 – 12.4),||,878174.0,"(804,534 – 951,814)",2014
35,ND,7771.0,12.2,0.63,(11.0 – 13.4),||,70839.0,"(63,457 – 78,220)",2014
36,OH,10884.0,15.0,0.56,(13.9 – 16.1),||,1337186.0,"(1,235,997 – 1,438,374)",2014
37,OK,8406.0,14.3,0.51,(13.3 – 15.3),||,419086.0,"(389,176 – 448,996)",2014
38,OR,5214.0,16.6,0.71,(15.2 – 18.0),||,513355.0,"(468,259 – 558,451)",2014
39,PA,10976.0,14.3,0.48,(13.4 – 15.3),||,1442928.0,"(1,345,164 – 1,540,692)",2014
40,RI,6428.0,15.2,0.67,(13.9 – 16.5),||,127141.0,"(115,480 – 138,802)",2014
41,SC,10994.0,13.1,0.46,(12.2 – 14.0),||,488781.0,"(453,873 – 523,690)",2014
42,SD,7375.0,11.2,0.65,(9.9 – 12.5),||,72720.0,"(64,291 – 81,148)",2014
43,TN,5119.0,14.4,0.74,(12.9 – 15.8),||,724267.0,"(648,588 – 799,946)",2014
44,TX,15379.0,11.1,0.41,(10.3 – 11.9),||,2194462.0,"(2,034,610 – 2,354,314)",2014
45,UT,14966.0,13.4,0.34,(12.8 – 14.1),||,276902.0,"(262,919 – 290,885)",2014
46,VT,6448.0,16.5,0.57,(15.3 – 17.6),||,83010.0,"(77,121 – 88,899)",2014
47,VA,9442.0,12.7,0.49,(11.7 – 13.6),||,821089.0,"(756,745 – 885,432)",2014
48,WA,10038.0,14.8,0.51,(13.8 – 15.8),||,805287.0,"(749,407 – 861,166)",2014
49,WV,6178.0,14.5,0.56,(13.4 – 15.6),||,213363.0,"(196,852 – 229,873)",2014
50,WI,7032.0,12.7,0.59,(11.5 – 13.9),||,565419.0,"(512,869 – 617,969)",2014
51,WY,6393.0,12.0,0.69,(10.6 – 13.3),||,54133.0,"(47,894 – 60,372)",2014
53,GU,2513.0,12.4,0.96,(10.5 – 14.3),||,13243.0,"(11,157 – 15,329)",2014
54,PR,5978.0,17.1,0.61,(15.9 – 18.3),||,481091.0,"(446,676 – 515,507)",2014

In [41]:
#2013 Adult Asthma
url_2013 = 'https://www.cdc.gov/asthma/brfss/2013/tableL1.htm'

df_2013 = pd.read_html(url_2013)

df_asthma_2013=df_2013[0]

asthma_2013 =df_asthma_2013.iloc[1:]
#asthma_2013[asthma_2013.State != 'Territories']
asthma_2013.drop(asthma_2013.index[51], inplace=True)
#asthma_2013=asthma_2013.drop('Territories')

asthma_2013['Year']='2013'
asthma_2013

C:\Users\ksmur\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,State,Sample Size,Prevalence (percent),Standard Error,95% CI* (percent),|| || ||,Prevalence (number),95% CI* (number),Year
1,AL,6484.0,13.6,0.61,(12.4 – 14.8),||,504811.0,"(459,449 – 550,172)",2013
2,AK,4564.0,14.8,0.83,(13.2 – 16.4),||,81577.0,"(72,193 – 90,961)",2013
3,AZ,4236.0,14.6,0.90,(12.9 – 16.4),||,730378.0,"(642,838 – 817,919)",2013
4,AR,5248.0,13.1,0.69,(11.8 – 14.5),||,294578.0,"(263,444 – 325,712)",2013
5,CA,11500.0,14.4,0.44,(13.5 – 15.2),||,4198521.0,"(3,940,609 – 4,456,432)",2013
6,CO,13608.0,13.5,0.40,(12.7 – 14.3),||,544002.0,"(511,172 – 576,833)",2013
7,CT,7681.0,16.6,0.65,(15.3 – 17.9),||,464989.0,"(427,018 – 502,959)",2013
8,DE,5188.0,15.4,0.72,(14.0 – 16.8),||,111079.0,"(100,508 – 121,649)",2013
9,DC,4918.0,17.5,0.98,(15.6 – 19.4),||,93605.0,"(82,732 – 104,479)",2013
10,FL,34072.0,13.5,0.43,(12.7 – 14.4),||,2104929.0,"(1,971,082 – 2,238,776)",2013
11,GA,8116.0,14.0,0.54,(13.0 – 15.1),||,1057927.0,"(975,863 – 1,139,991)",2013
12,HI,7840.0,16.6,0.64,(15.3 – 17.8),||,181615.0,"(167,111 – 196,119)",2013
13,ID,5615.0,12.9,0.66,(11.6 – 14.2),||,151933.0,"(136,274 – 167,592)",2013
14,IL,5603.0,12.0,0.61,(10.8 – 13.2),||,1181185.0,"(1,062,984 – 1,299,387)",2013
15,IN,10305.0,15.3,0.50,(14.3 – 16.3),||,760784.0,"(710,364 – 811,203)",2013
16,IA,8132.0,12.2,0.51,(11.1 – 13.2),||,286585.0,"(262,378 – 310,792)",2013
17,KS,23205.0,13.4,0.29,(12.8 – 14.0),||,290723.0,"(277,945 – 303,501)",2013
18,KY,10978.0,14.2,0.52,(13.2 – 15.2),||,479531.0,"(443,876 – 515,186)",2013
19,LA,5237.0,12.3,0.74,(10.8 – 13.7),||,430816.0,"(379,312 – 482,319)",2013
20,ME,8075.0,16.2,0.56,(15.1 – 17.3),||,172768.0,"(160,816 – 184,720)",2013
21,MD,12972.0,13.9,0.51,(12.9 – 14.9),||,638366.0,"(590,910 – 685,822)",2013
22,MA,15033.0,16.8,0.52,(15.8 – 17.8),||,888869.0,"(832,255 – 945,483)",2013
23,MI,12697.0,16.6,0.47,(15.7 – 17.5),||,1262444.0,"(1,189,234 – 1,335,653)",2013
24,MN,14297.0,11.9,0.50,(10.9 – 12.8),||,490493.0,"(449,058 – 531,929)",2013
25,MS,7439.0,12.5,0.57,(11.4 – 13.6),||,281021.0,"(255,365 – 306,677)",2013
26,MO,7086.0,15.7,0.69,(14.3 – 17.0),||,723879.0,"(659,240 – 788,519)",2013
27,MT,9668.0,13.2,0.49,(12.2 – 14.2),||,104140.0,"(96,331 – 111,949)",2013
28,NE,17068.0,11.2,0.40,(10.4 – 12.0),||,157433.0,"(146,283 – 168,583)",2013
29,NV,5084.0,11.4,0.78,(9.9 – 12.9),||,242322.0,"(209,200 – 275,443)",2013
30,NH,6448.0,16.7,0.68,(15.4 – 18.1),||,175753.0,"(160,851 – 190,654)",2013
31,NJ,13351.0,13.6,0.45,(12.8 – 14.5),||,937686.0,"(874,532 – 1,000,839)",2013
32,NM,9285.0,14.5,0.54,(13.5 – 15.6),||,229011.0,"(211,826 – 246,196)",2013
33,NY,8950.0,14.9,0.52,(13.9 – 15.9),||,2289172.0,"(2,127,890 – 2,450,453)",2013
34,NC,8838.0,13.1,0.51,(12.1 – 14.1),||,986861.0,"(908,675 – 1,065,046)",2013
35,ND,7780.0,12.3,0.57,(11.2 – 13.4),||,68573.0,"(62,204 – 74,942)",2013
36,OH,11925.0,14.2,0.49,(13.3 – 15.2),||,1263152.0,"(1,175,661 – 1,350,642)",2013
37,OK,8206.0,14.6,0.53,(13.6 – 15.6),||,423013.0,"(392,019 – 454,006)",2013
38,OR,5930.0,18.2,0.69,(16.8 – 19.5),||,556172.0,"(513,015 – 599,328)",2013
39,PA,11390.0,14.2,0.45,(13.4 – 15.1),||,1428654.0,"(1,338,197 – 1,519,110)",2013
40,RI,6511.0,17.4,0.68,(16.1 – 18.8),||,145219.0,"(133,445 – 156,994)",2013
41,SC,10674.0,13.4,0.48,(12.4 – 14.3),||,491458.0,"(455,732 – 527,184)",2013
42,SD,6868.0,11.8,0.70,(10.4 – 13.2),||,75001.0,"(66,044 – 83,958)",2013
43,TN,5788.0,11.3,0.57,(10.2 – 12.5),||,568401.0,"(511,820 – 624,983)",2013
44,TX,10875.0,12.6,0.49,(11.6 – 13.5),||,2450233.0,"(2,257,852 – 2,642,615)",2013
45,UT,12725.0,14.1,0.40,(13.3 – 14.8),||,283956.0,"(267,788 – 300,123)",2013
46,VT,6378.0,16.4,0.64,(15.2 – 17.7),||,82436.0,"(75,859 – 89,012)",2013
47,VA,8441.0,13.6,0.53,(12.5 – 14.6),||,870086.0,"(801,906 – 938,266)",2013
48,WA,11133.0,15.8,0.48,(14.9 – 16.8),||,852556.0,"(800,475 – 904,637)",2013
49,WV,5867.0,13.6,0.55,(12.5 – 14.7),||,199786.0,"(183,435 – 216,137)",2013
50,WI,6575.0,14.9,0.75,(13.4 – 16.4),||,658285.0,"(590,779 – 725,791)",2013
51,WY,6430.0,14.1,0.64,(12.9 – 15.4),||,62845.0,"(57,157 – 68,532)",2013
53,GU,1893.0,10.8,0.96,(8.9 – 12.7),||,11823.0,"(9,714 – 13,931)",2013
54,PR,6004.0,17.2,0.64,(16.0 – 18.5),||,485520.0,"(449,219 – 521,820)",2013

In [32]:
combined_df=pd.concat([asthma_2013, asthma_2014,asthma_2015, asthma_2016])
combined_df

,State,Sample Size,Prevalence (percent),Standard Error,95% CI* (percent),|| || ||,Prevalence (number),95% CI* (number),Year
1,AL,6484.0,13.6,0.61,(12.4 – 14.8),||,504811.0,"(459,449 – 550,172)",2013
2,AK,4564.0,14.8,0.83,(13.2 – 16.4),||,81577.0,"(72,193 – 90,961)",2013
3,AZ,4236.0,14.6,0.90,(12.9 – 16.4),||,730378.0,"(642,838 – 817,919)",2013
4,AR,5248.0,13.1,0.69,(11.8 – 14.5),||,294578.0,"(263,444 – 325,712)",2013
5,CA,11500.0,14.4,0.44,(13.5 – 15.2),||,4198521.0,"(3,940,609 – 4,456,432)",2013
6,CO,13608.0,13.5,0.40,(12.7 – 14.3),||,544002.0,"(511,172 – 576,833)",2013
7,CT,7681.0,16.6,0.65,(15.3 – 17.9),||,464989.0,"(427,018 – 502,959)",2013
8,DE,5188.0,15.4,0.72,(14.0 – 16.8),||,111079.0,"(100,508 – 121,649)",2013
9,DC,4918.0,17.5,0.98,(15.6 – 19.4),||,93605.0,"(82,732 – 104,479)",2013
10,FL,34072.0,13.5,0.43,(12.7 – 14.4),||,2104929.0,"(1,971,082 – 2,238,776)",2013
11,GA,8116.0,14.0,0.54,(13.0 – 15.1),||,1057927.0,"(975,863 – 1,139,991)",2013
12,HI,7840.0,16.6,0.64,(15.3 – 17.8),||,181615.0,"(167,111 – 196,119)",2013
13,ID,5615.0,12.9,0.66,(11.6 – 14.2),||,151933.0,"(136,274 – 167,592)",2013
14,IL,5603.0,12.0,0.61,(10.8 – 13.2),||,1181185.0,"(1,062,984 – 1,299,387)",2013
15,IN,10305.0,15.3,0.50,(14.3 – 16.3),||,760784.0,"(710,364 – 811,203)",2013
16,IA,8132.0,12.2,0.51,(11.1 – 13.2),||,286585.0,"(262,378 – 310,792)",2013
17,KS,23205.0,13.4,0.29,(12.8 – 14.0),||,290723.0,"(277,945 – 303,501)",2013
18,KY,10978.0,14.2,0.52,(13.2 – 15.2),||,479531.0,"(443,876 – 515,186)",2013
19,LA,5237.0,12.3,0.74,(10.8 – 13.7),||,430816.0,"(379,312 – 482,319)",2013
20,ME,8075.0,16.2,0.56,(15.1 – 17.3),||,172768.0,"(160,816 – 184,720)",2013
21,MD,12972.0,13.9,0.51,(12.9 – 14.9),||,638366.0,"(590,910 – 685,822)",2013
22,MA,15033.0,16.8,0.52,(15.8 – 17.8),||,888869.0,"(832,255 – 945,483)",2013
23,MI,12697.0,16.6,0.47,(15.7 – 17.5),||,1262444.0,"(1,189,234 – 1,335,653)",2013
24,MN,14297.0,11.9,0.50,(10.9 – 12.8),||,490493.0,"(449,058 – 531,929)",2013
25,MS,7439.0,12.5,0.57,(11.4 – 13.6),||,281021.0,"(255,365 – 306,677)",2013
26,MO,7086.0,15.7,0.69,(14.3 – 17.0),||,723879.0,"(659,240 – 788,519)",2013
27,MT,9668.0,13.2,0.49,(12.2 – 14.2),||,104140.0,"(96,331 – 111,949)",2013
28,NE,17068.0,11.2,0.40,(10.4 – 12.0),||,157433.0,"(146,283 – 168,583)",2013
29,NV,5084.0,11.4,0.78,(9.9 – 12.9),||,242322.0,"(209,200 – 275,443)",2013
30,NH,6448.0,16.7,0.68,(15.4 – 18.1),||,175753.0,"(160,851 – 190,654)",2013
...,...,...,...,...,...,...,...,...,...
26,MO,7097.0,14.4,0.69,(13.1–15.8),||,680511.0,"(613,601–747,421)",2016
27,MT,5954.0,12.8,0.62,(11.6–14.0),||,104638.0,"(94,650–114,626)",2016
28,NE,15144.0,12.4,0.47,(11.5–13.3),||,178771.0,"(165,046–192,495)",2016
29,NV,4329.0,11.6,0.73,(10.2–13.0),||,263892.0,"(230,553–297,231)",2016
30,NH,6391.0,16.4,0.72,(15.0–17.8),||,176137.0,"(160,082–192,193)",2016
31,NJ,7640.0,12.0,0.61,(10.8–13.2),||,838632.0,"(751,565–925,699)",2016
32,NM,6008.0,16.3,0.75,(14.9–17.8),||,258385.0,"(234,241–282,529)",2016
33,NY,34113.0,13.8,0.37,(13.1–14.5),||,2153806.0,"(2,038,429–2,269,184)",2016
34,NC,6523.0,12.5,0.51,(11.4–13.5),||,980147.0,"(899,231–1,061,063)",2016
35,ND,5734.0,12.8,0.62,(11.6–14.0),||,75615.0,"(68,177–83,054)",2016
36,OH,12350.0,14.0,0.52,(13.0–15.0),||,1262909.0,"(1,167,860–1,357,957)",2016
37,OK,6855.0,14.1,0.60,(12.9–15.3),||,417262.0,"(381,312–453,213)",2016
38,OR,5421.0,17.2,0.63,(15.9–18.4),||,551646.0,"(510,196–593,097)",2016
39,PA,6791.0,14.8,0.58,(13.7–15.9),||,1499882.0,"(1,381,996–1,617,768)",2016
40,RI,5441.0,15.8,0.72,(14.4–17.2),||,133893.0,"(121,633–146,152)",2016
41,SC,11209.0,13.4,0.47,(12.5–14.3),||,518111.0,"(481,786–554,436)",2016
42,SD,5752.0,9.3,0.63,(8.0–10.5),||,60515.0,"(52,435–68,596)",2016
43,TN,6150.0,16.1,0.72,(14.7–17.5),||,832761.0,"(756,632–908,890)",2016
44,TX,11683.0,12.5,0.59,(11.3–13.6),||,2594843.0,"(2,352,023–2,837,663)",2016
45,UT,10947.0,13.8,0.46,(12.9–14.7),||,293926.0,"(274,435–313,416)",2016
46,VT,6518.0,15.6,0.62,(14.3–16.8),||,78778.0,"(72,404–85,153)",2016
47,VA,8964.0,13.3,0.49,(12.4–14.3),||,874713.0,"(810,360–939,066)",2016
48,WA,14210.0,14.9,0.40,(14.2–15.7),||,843964.0,"(798,746–889,182)",2016
49,WV,7125.0,16.2,0.55,(15.1–17.3),||,236583.0,"(220,081–253,085)",2016
50,WI,5260.0,11.8,0.61,(10.6–13.0),||,532255.0,"(477,306–587,203)",2016
51,WY,4487.0,13.9,0.86,(12.2–15.6),||,62611.0,"(54,696–70,526)",2016
52,Territories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
53,GU,1575.0,9.8,1.11,(7.7–12.0),||,10490.0,"(8,114–12,866)",2016
54,PR,5791.0,17.5,0.73,(16.1–18.9),||,490220.0,"(448,028–532,413)",2016
55,VI,1261.0,10.4,1.50,(7.5–13.3),||,8237.0,"(5,809–10,664)",2016