*extract pollution data*

In [14]:
import pandas as pd
import datetime as dt
#  import numpy as np
import json
import requests


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [15]:
pol_input_file = 'input_data/pollution_us_2000_2016.csv'

In [16]:
pol_df = pd.read_csv(pol_input_file)

In [17]:
# Drop unused columns 
pol_df.drop(columns=['State Code', 'County Code', 'Site Num', 'Address', 'County', 'City', \
                            'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', \
                            'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', \
                            'SO2 1st Max Value', 'CO 1st Max Hour', 'CO AQI'], inplace=True)

In [18]:
# df.rename(columns={"A": "a", "B": "c"})
pol_df.rename(columns={"Unnamed: 0": "id", "Date Local": "Date_Local", "NO2 Units": "NO2_Units", "NO2 Mean": "NO2_Mean", \
                  "O3 Units": "O3_Units", "O3 Mean": "O3_Mean", "SO2 Units": "SO2_Units", \
                  "SO2 Mean": "SO2_Mean", "CO Units": "CO_Units", "CO Mean": "CO_Mean" }, inplace=True)

In [19]:
pol_df.head()

,id,State,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value
0,0,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,1.145833,4.2
1,1,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,0.878947,2.2
2,2,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,23,NaN,Parts per million,1.145833,4.2
3,3,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,23,NaN,Parts per million,0.878947,2.2
4,4,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,22,4.0,Parts per million,0.850000,1.6

In [20]:
pol_df.dropna(inplace=True)

# df = df[df.line_race != 0]
pol_df = pol_df[pol_df.State != 'Country Of Mexico']

In [21]:
pol_df

,id,State,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value
0,0,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,1.145833,4.200
1,1,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,0.878947,2.200
4,4,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,22,4.0,Parts per million,0.850000,1.600
5,5,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,22,4.0,Parts per million,1.066667,2.300
8,8,Arizona,2000-01-03,Parts per billion,38.125000,Parts per million,0.007958,Parts per billion,5.250000,19,16.0,Parts per million,1.929167,4.400
9,9,Arizona,2000-01-03,Parts per billion,38.125000,Parts per million,0.007958,Parts per billion,5.250000,19,16.0,Parts per million,1.762500,2.500
12,12,Arizona,2000-01-04,Parts per billion,40.260870,Parts per million,0.014167,Parts per billion,7.083333,8,23.0,Parts per million,1.991667,5.100
13,13,Arizona,2000-01-04,Parts per billion,40.260870,Parts per million,0.014167,Parts per billion,7.083333,8,23.0,Parts per million,1.829167,3.000
16,16,Arizona,2000-01-05,Parts per billion,48.450000,Parts per million,0.006667,Parts per billion,8.708333,7,21.0,Parts per million,2.620833,5.600
17,17,Arizona,2000-01-05,Parts per billion,48.450000,Parts per million,0.006667,Parts per billion,8.708333,7,21.0,Parts per million,2.700000,3.700
20,20,Arizona,2000-01-06,Parts per billion,39.950000,Parts per million,0.011750,Parts per billion,6.761905,7,24.0,Parts per million,1.973913,6.300
21,21,Arizona,2000-01-06,Parts per billion,39.950000,Parts per million,0.011750,Parts per billion,6.761905,7,24.0,Parts per million,2.308333,3.600
24,24,Arizona,2000-01-07,Parts per billion,29.625000,Parts per million,0.011625,Parts per billion,8.666667,7,30.0,Parts per million,2.362500,6.400
25,25,Arizona,2000-01-07,Parts per billion,29.625000,Parts per million,0.011625,Parts per billion,8.666667,7,30.0,Parts per million,1.829167,3.500
28,28,Arizona,2000-01-08,Parts per billion,29.666667,Parts per million,0.009750,Parts per billion,8.250000,0,26.0,Parts per million,2.541667,6.600
29,29,Arizona,2000-01-08,Parts per billion,29.666667,Parts per million,0.009750,Parts per billion,8.250000,0,26.0,Parts per million,2.787500,5.100
32,32,Arizona,2000-01-09,Parts per billion,25.083333,Parts per million,0.010792,Parts per billion,6.500000,19,19.0,Parts per million,1.729167,3.900
33,33,Arizona,2000-01-09,Parts per billion,25.083333,Parts per million,0.010792,Parts per billion,6.500000,19,19.0,Parts per million,1.675000,2.800
36,36,Arizona,2000-01-10,Parts per billion,37.666667,Parts per million,0.008458,Parts per billion,9.958333,20,30.0,Parts per million,2.341667,5.900
37,37,Arizona,2000-01-10,Parts per billion,37.666667,Parts per million,0.008458,Parts per billion,9.958333,20,30.0,Parts per million,2.179167,3.700
40,40,Arizona,2000-01-11,Parts per billion,50.500000,Parts per million,0.008417,Parts per billion,11.625000,22,34.0,Parts per million,2.604167,6.900
41,41,Arizona,2000-01-11,Parts per billion,50.500000,Parts per million,0.008417,Parts per billion,11.625000,22,34.0,Parts per million,2.533333,4.500
44,44,Arizona,2000-01-12,Parts per billion,49.125000,Parts per million,0.008208,Parts per billion,10.916667,21,37.0,Parts per million,2.295833,6.300
45,45,Arizona,2000-01-12,Parts per billion,49.125000,Parts per million,0.008208,Parts per billion,10.916667,21,37.0,Parts per million,2.316667,4.200
48,48,Arizona,2000-01-13,Parts per billion,73.285714,Parts per million,0.006167,Parts per billion,10.952381,22,30.0,Parts per million,3.136364,7.000
49,49,Arizona,2000-01-13,Parts per billion,73.285714,Parts per million,0.006167,Parts per billion,10.952381,22,30.0,Parts per million,2.958333,4.600
52,52,Arizona,2000-01-14,Parts per billion,66.541667,Parts per million,0.008708,Parts per billion,11.625000,8,41.0,Parts per million,3.012500,8.100
53,53,Arizona,2000-01-14,Parts per billion,66.541667,Parts per million,0.008708,Parts per billion,11.625000,8,41.0,Parts per million,3.575000,5.300
56,56,Arizona,2000-01-15,Parts per billion,53.166667,Parts per million,0.010625,Parts per billion,9.583333,20,31.0,Parts per million,2.754167,7.200
57,57,Arizona,2000-01-15,Parts per billion,53.166667,Parts per million,0.010625,Parts per billion,9.583333,20,31.0,Parts per million,2.175000,4.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746601,24544,Wyoming,2016-03-17,Parts per billion,1.234783,Parts per million,0.043542,Parts per billion,-0.027273,14,0.0,Parts per million,0.075591,0.100
1746602,24545,Wyoming,2016-03-17,Parts per billion,1.234783,Parts per million,0.043542,Parts per billion,-0.027273,14,0.0,Parts per million,0.083333,0.100
1746605,24548,Wyoming,2016-03-18,Parts per billion,1.262500,Parts per million,0.037375,Parts per billion,0.012500,10,0.0,Parts per million,0.113625,0.157
1746606,24549,Wyoming,2016-03-18,Parts per billion,1.262500,Parts per million,0.037375,Parts per billion,0.012500,10,0.0,Parts per million,0.100000,0.100
1746609,24552,Wyoming,2016-03-19,Parts per billion,1.530435,Parts per million,0.039500,Parts per billion,-0.163636,0,0.0,Parts per million,0.098136,0.108
1746610,24553,Wyoming,2016-03-19,Parts per billion,1.530435,Parts per million,0.039500,Parts per billion,-0.163636,0,0.0,Parts per million,0.100000,0.100
1746613,24556,Wyoming,2016-03-20,Parts per billion,7.478261,Parts per million,0.040708,Parts per billion,0.086957,22,0.0,Parts per million,0.079000,0.098
1746614,24557,Wyoming,2016-03-20,Parts per billion,7.478261,Parts per million,0.040708,Parts per billion,0.086957,22,0.0,Parts per million,0.100000,0.100
1746617,24560,Wyoming,2016-03-21,Parts per billion,2.356522,Parts per million,0.046000,Parts per billion,-0.036364,0,0.0,Parts per million,0.056682,0.086
1746618,24561,Wyoming,2016-03-21,Parts per billion,2.356522,Parts per million,0.046000,Parts per billion,-0.036364,0,0.0,Parts per million,0.085714,0.100
1746621,24564,Wyoming,2016-03-22,Parts per billion,4.825000,Parts per million,0.037667,Parts per billion,0.091304,8,1.0,Parts per million,0.104667,0.288
1746622,24565,Wyoming,2016-03-22,Parts per billion,4.825000,Parts per million,0.037667,Parts per billion,0.091304,8,1.0,Parts per million,0.100000,0.100
1746625,24568,Wyoming,2016-03-23,Parts per billion,1.273913,Parts per million,0.035125,Parts per billion,0.000000,4,0.0,Parts per million,0.085955,0.115
1746626,24569,Wyoming,2016-03-23,Parts per billion,1.273913,Parts per million,0.035125,Parts per billion,0.000000,4,0.0,Parts per million,0.100000,0.100
1746629,24572,Wyoming,2016-03-24,Parts per billion,2.212500,Parts per million,0.044792,Parts per billion,-0.083333,6,0.0,Parts per million,0.117792,0.154
1746630,24573,Wyoming,2016-03-24,Parts per billion,2.212500,Parts per million,0.044792,Parts per billion,-0.083333,6,0.0,Parts per million,0.100000,0.100
1746633,24576,Wyoming,2016-03-25,Parts per billion,1.626087,Parts per million,0.041708,Parts per billion,-0.031818,0,0.0,Parts per million,0.075909,0.154
1746634,24577,Wyoming,2016-03-25,Parts per billion,1.626087,Parts per million,0.041708,Parts per billion,-0.031818,0,0.0,Parts per million,0.100000,0.100
1746637,24580,Wyoming,2016-03-26,Parts per billion,3.758333,Parts per million,0.033292,Parts per billion,-0.050000,3,0.0,Parts per million,0.103417,0.212
1746638,24581,Wyoming,2016-03-26,Parts per billion,3.758333,Parts per million,0.033292,Parts per billion,-0.050000,3,0.0,Parts per million,0.100000,0.100
1746641,24584,Wyoming,2016-03-27,Parts per billion,4.277273,Parts per million,0.041958,Parts per billion,-0.095238,0,0.0,Parts per million,0.093000,0.119
1746642,24585,Wyoming,2016-03-27,Parts per billion,4.277273,Parts per million,0.041958,Parts per billion,-0.095238,0,0.0,Parts per million,0.100000,0.100
1746645,24588,Wyoming,2016-03-28,Parts per billion,8.317391,Parts per million,0.041292,Parts per billion,0.117391,7,0.0,Parts per million,0.069304,0.139
1746646,24589,Wyoming,2016-03-28,Parts per billion,8.317391,Parts per million,0.041292,Parts per billion,0.117391,7,0.0,Parts per million,0.100000,0.100
1746649,24592,Wyoming,2016-03-29,Parts per billion,2.564706,Parts per million,0.028000,Parts per billion,0.143750,8,0.0,Parts per million,0.045625,0.071
1746650,24593,Wyoming,2016-03-29,Parts per billion,2.564706,Parts per million,0.028000,Parts per billion,0.143750,8,0.0,Parts per million,0.006667,0.100
1746653,24596,Wyoming,2016-03-30,Parts per billion,1.083333,Parts per million,0.043917,Parts per billion,0.016667,0,0.0,Parts per million,0.101042,0.134
1746654,24597,Wyoming,2016-03-30,Parts per billion,1.083333,Parts per million,0.043917,Parts per billion,0.016667,0,0.0,Parts per million,0.091667,0.100
1746657,24600,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,0,0.0,Parts per million,0.067714,0.127
1746658,24601,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,0,0.0,Parts per million,0.100000,0.100

In [22]:
# # iterate/loop over the rows in the DF.  Split 'Date_local', that I assume
# # is MM/DD/YYYY,
# # on forward slash '/' take the third item Year and store in new list 'll_year'
# # then store this in the df as column 'year'
# # for row in df.iterrows():

# # for row in df.iterrows():  NOTE:  Itertion is not suggested trying something different
# #result = [f(x) for x in df['col']]
result = [x.split("-") for x in pol_df['Date_Local']]

In [23]:
# # unpack it
ll_yyyy,ll_mm, ll_dd = map(list, zip(*result))

In [24]:
pol_df['year'] = ll_yyyy
pol_df.head()

,id,State,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,0,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,1.145833,4.2,2000
1,1,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,21,13.0,Parts per million,0.878947,2.2,2000
4,4,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,22,4.0,Parts per million,0.850000,1.6,2000
5,5,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,22,4.0,Parts per million,1.066667,2.3,2000
8,8,Arizona,2000-01-03,Parts per billion,38.125000,Parts per million,0.007958,Parts per billion,5.250000,19,16.0,Parts per million,1.929167,4.4,2000

In [25]:
#import data from url to get the state abbr
url='http://worldpopulationreview.com/static/states/name-abbr.json'
d = requests.get(url).json()
states_abbr = pd.DataFrame(d.items() , columns=["State", "State Abbr"])
states_abbr.head()
states_abbr.rename(columns={"State Abbr": "State_Abbr"}, inplace=True)

In [26]:
pol_updated_df = pd.merge(states_abbr, pol_df, \
                                how='left', on='State')
pol_updated_df.head()

,State,State_Abbr,id,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,Alabama,AL,0.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.259091,0.80,2013
1,Alabama,AL,1.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.266667,0.50,2013
2,Alabama,AL,4.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.305625,0.47,2013
3,Alabama,AL,5.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.400000,0.50,2013
4,Alabama,AL,8.0,2013-12-03,Parts per billion,14.912500,Parts per million,0.008167,Parts per billion,0.305263,11.0,3.0,Parts per million,0.216818,0.35,2013

In [28]:
# # pd.to_numeric(s, downcast='integer')
pol_updated_df['year'] = pd.to_numeric(pol_updated_df['year'], downcast='integer')



pol_13_16_df = pol_updated_df.loc[pol_updated_df['year'] >= 2013]
pol_13_16_df.head()

,State,State_Abbr,id,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,Alabama,AL,0.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.259091,0.80,2013.0
1,Alabama,AL,1.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.266667,0.50,2013.0
2,Alabama,AL,4.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.305625,0.47,2013.0
3,Alabama,AL,5.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.400000,0.50,2013.0
4,Alabama,AL,8.0,2013-12-03,Parts per billion,14.912500,Parts per million,0.008167,Parts per billion,0.305263,11.0,3.0,Parts per million,0.216818,0.35,2013.0

# Store this in dir output for loading into the database.
pol_13_16_df.to_csv

In [29]:
pol_13_16_df.to_csv('landing_data/pol_13_16_df.csv', index=False)