In [1]:
import pandas as pd
import datetime as dt
#  import numpy as np
import json
import requests


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
pol_13_16_df = pd.read_csv('landing_data/pol_13_16_df.csv')
pol_13_16_df.head()

,State,State_Abbr,id,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,Alabama,AL,0.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.259091,0.80,2013.0
1,Alabama,AL,1.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.266667,0.50,2013.0
2,Alabama,AL,4.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.305625,0.47,2013.0
3,Alabama,AL,5.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.400000,0.50,2013.0
4,Alabama,AL,8.0,2013-12-03,Parts per billion,14.912500,Parts per million,0.008167,Parts per billion,0.305263,11.0,3.0,Parts per million,0.216818,0.35,2013.0

In [3]:
# drop columns not needed - I hope.
pol_13_16_df.drop(columns=['id', 'Date_Local', 'NO2_Units', \
                           'O3_Units', 'SO2_Units', 'CO_Units'], inplace=True)
pol_13_16_df.head()

,State,State_Abbr,NO2_Mean,O3_Mean,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Mean,CO 1st Max Value,year
0,Alabama,AL,17.208333,0.013542,0.313636,11.0,1.0,0.259091,0.80,2013.0
1,Alabama,AL,17.208333,0.013542,0.313636,11.0,1.0,0.266667,0.50,2013.0
2,Alabama,AL,20.687500,0.009375,0.530000,11.0,3.0,0.305625,0.47,2013.0
3,Alabama,AL,20.687500,0.009375,0.530000,11.0,3.0,0.400000,0.50,2013.0
4,Alabama,AL,14.912500,0.008167,0.305263,11.0,3.0,0.216818,0.35,2013.0

Go thru and generate stats off of pol_13_16_df dataframe

In [8]:
# df.groupby(['col5','col2']).reset_index()

pol_groupby_min_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).min().groupby('State_Abbr', as_index=False)
pol_groupby_min_df.head()

,year,State_Abbr,State,NO2_Mean,O3_Mean,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Mean,CO 1st Max Value
0,2013.0,AL,Alabama,3.770833,0.000000,-0.150000,0.0,0.0,0.058500,0.100
1,2013.0,AR,Arkansas,1.675000,0.003292,0.204167,0.0,0.0,0.033333,0.100
2,2013.0,AZ,Arizona,2.895833,0.002000,-0.033333,0.0,0.0,0.039130,0.100
3,2013.0,CA,California,-0.073684,0.000000,-0.979167,0.0,0.0,-0.200000,-0.200
4,2013.0,CO,Colorado,-0.095238,0.000083,-0.041667,0.0,0.0,-0.195833,0.000
5,2013.0,CT,Connecticut,0.000000,0.000958,-0.065217,0.0,0.0,0.090435,0.100
6,2013.0,DC,District Of Columbia,1.266667,0.000125,-0.952632,0.0,0.0,-0.100000,-0.100
7,2013.0,DE,Delaware,3.295833,0.001667,0.009091,0.0,0.0,0.100000,0.100
8,2013.0,FL,Florida,0.600000,0.008583,-1.000000,0.0,0.0,-0.062500,0.000
9,2013.0,GA,Georgia,1.495833,0.002875,0.100000,0.0,0.0,0.098083,0.180
10,2013.0,HI,Hawaii,-0.291667,0.009333,-0.100000,0.0,0.0,0.000000,0.000
11,2013.0,IA,Iowa,1.772727,0.004208,-0.200000,0.0,0.0,0.100000,0.100
12,2013.0,IL,Illinois,2.333333,0.001000,0.000000,0.0,0.0,0.008333,0.090
13,2013.0,IN,Indiana,1.383333,0.007000,0.000000,0.0,0.0,0.045833,0.100
14,2013.0,KS,Kansas,0.633333,0.003292,0.179167,0.0,0.0,0.079167,0.100
15,2013.0,KY,Kentucky,4.191667,0.003875,0.066667,0.0,0.0,0.137500,0.200
16,2013.0,LA,Louisiana,-0.488235,0.002167,0.000000,0.0,0.0,0.097273,0.100
17,2013.0,MA,Massachusetts,4.333333,0.000857,0.090909,0.0,0.0,0.143609,0.183
18,2013.0,MD,Maryland,1.504167,0.001667,0.000000,0.0,0.0,0.083333,0.100
19,2013.0,ME,Maine,0.187500,0.006458,-0.138095,0.0,0.0,0.097125,0.100
20,2013.0,MO,Missouri,3.754167,0.006583,0.000000,0.0,0.0,0.144130,0.181
21,2013.0,NC,North Carolina,1.208333,0.002389,-0.129167,0.0,0.0,0.000000,0.000
22,2013.0,ND,North Dakota,0.000000,0.006412,0.000000,0.0,0.0,0.074792,0.082
23,2013.0,NJ,New Jersey,2.714286,0.000000,0.000000,0.0,0.0,0.000000,0.000
24,2013.0,NM,New Mexico,3.794118,0.007917,0.262500,0.0,0.0,0.083333,0.100
25,2013.0,NV,Nevada,2.537500,0.000250,-0.163636,0.0,0.0,0.085625,0.100
26,2013.0,NY,New York,4.604167,0.001583,0.000000,0.0,0.0,0.016667,0.100
27,2013.0,OH,Ohio,3.130435,0.000458,0.000000,0.0,0.0,0.051174,0.146
28,2013.0,OK,Oklahoma,0.958333,0.005708,-0.166667,0.0,0.0,0.000000,0.000
29,2013.0,OR,Oregon,0.945000,0.000000,0.391304,0.0,0.0,0.100000,0.100
...,...,...,...,...,...,...,...,...,...,...
125,2016.0,CO,Colorado,2.565217,0.000000,0.000000,0.0,0.0,0.183333,0.200
126,2016.0,DC,District Of Columbia,3.908696,0.013083,0.209524,0.0,0.0,0.178667,0.200
127,2016.0,DE,Delaware,3.566667,0.002542,0.108333,0.0,0.0,0.129167,0.199
128,2016.0,FL,Florida,1.041667,0.012583,0.000000,0.0,0.0,0.170833,0.200
129,2016.0,GA,Georgia,2.108333,0.002000,0.100000,0.0,0.0,0.181750,0.200
130,2016.0,IA,Iowa,2.100000,0.010375,0.000000,0.0,0.0,0.100000,0.100
131,2016.0,IL,Illinois,1.362500,0.002750,-0.083333,0.0,0.0,0.173042,0.186
132,2016.0,IN,Indiana,5.816667,0.009750,0.000000,0.0,0.0,0.118182,0.200
133,2016.0,KS,Kansas,2.050000,0.008042,-0.016667,0.0,0.0,0.000000,0.000
134,2016.0,LA,Louisiana,3.342857,0.007792,0.047826,0.0,0.0,0.129167,0.180
135,2016.0,MA,Massachusetts,6.550000,0.003542,0.095833,0.0,0.0,0.194609,0.200
136,2016.0,MD,Maryland,1.183333,0.001917,0.029167,0.0,0.0,0.100000,0.100
137,2016.0,ME,Maine,0.316667,0.008167,-0.200000,0.0,0.0,0.198250,0.200
138,2016.0,MO,Missouri,4.695455,0.004542,0.000000,0.0,0.0,0.197125,0.286
139,2016.0,NC,North Carolina,1.586957,0.006667,-0.060870,0.0,0.0,0.129167,0.179
140,2016.0,ND,North Dakota,0.575000,0.015417,0.041667,0.0,0.0,0.100000,0.100
141,2016.0,NH,New Hampshire,0.452174,0.015792,0.236364,0.0,0.0,0.108333,0.153
142,2016.0,NV,Nevada,3.104167,0.000389,-0.045000,0.0,0.0,0.157833,0.185
143,2016.0,NY,New York,5.391667,0.000667,0.012500,0.0,0.0,0.129167,0.184
144,2016.0,OH,Ohio,0.130435,0.004958,-0.135294,0.0,0.0,0.089619,0.181
145,2016.0,OK,Oklahoma,1.400000,0.009458,1.054167,0.0,1.0,0.126250,0.170
146,2016.0,PA,Pennsylvania,0.000000,0.002917,0.000000,0.0,0.0,0.000000,0.000
147,2016.0,RI,Rhode Island,1.829167,0.005583,0.004167,0.0,0.0,0.158750,0.170
148,2016.0,SC,South Carolina,1.409091,0.009458,0.045455,0.0,0.0,0.100000,0.100
149,2016.0,TN,Tennessee,0.387500,0.021167,0.000000,0.0,0.0,0.100000,0.100
150,2016.0,TX,Texas,0.591667,0.004375,-0.370833,0.0,0.0,0.023826,0.095
151,2016.0,UT,Utah,14.291667,0.004292,0.350000,0.0,0.0,0.225000,0.300
152,2016.0,VA,Virginia,3.295833,0.007542,0.079167,0.0,0.0,0.186364,0.200
153,2016.0,WA,Washington,6.129167,0.001958,0.000000,0.0,0.0,0.178125,0.200
154,2016.0,WY,Wyoming,0.773913,0.025125,-0.200000,0.0,0.0,0.004167,0.062

In [5]:
# - get max

pol_groupby_max_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).max().groupby('State_Abbr', as_index=False)
pol_groupby_max_df.head()

,year,State_Abbr,State,NO2_Mean,O3_Mean,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Mean,CO 1st Max Value
0,2013.0,AL,Alabama,25.329167,0.026333,4.618182,23.0,50.0,0.445833,1.210
1,2013.0,AR,Arkansas,26.845833,0.049000,3.129167,23.0,11.0,1.083333,1.552
2,2013.0,AZ,Arizona,47.375000,0.059750,3.791667,23.0,13.0,1.333333,3.239
3,2013.0,CA,California,53.663636,0.071167,13.761905,23.0,104.0,3.158824,6.547
4,2013.0,CO,Colorado,49.173913,0.057100,11.625000,23.0,76.0,1.904167,5.800
5,2013.0,CT,Connecticut,46.250000,0.067250,8.020833,23.0,37.0,1.054167,3.030
6,2013.0,DC,District Of Columbia,35.875000,0.055917,4.920000,23.0,23.0,1.460000,2.300
7,2013.0,DE,Delaware,26.520833,0.047833,3.500000,23.0,11.0,0.520833,1.381
8,2013.0,FL,Florida,20.666667,0.049042,0.625000,22.0,7.0,0.858333,1.200
9,2013.0,GA,Georgia,27.079167,0.047250,1.679167,23.0,20.0,0.812500,1.407
10,2013.0,HI,Hawaii,9.875000,0.046042,4.945833,23.0,13.0,0.908333,1.300
11,2013.0,IA,Iowa,24.781818,0.051875,4.214286,23.0,36.0,0.513043,1.358
12,2013.0,IL,Illinois,33.791667,0.053417,4.166667,23.0,30.0,0.691667,1.700
13,2013.0,IN,Indiana,32.157143,0.054583,32.800000,23.0,108.0,0.841667,1.800
14,2013.0,KS,Kansas,32.266667,0.055417,10.986957,23.0,66.0,1.362500,2.300
15,2013.0,KY,Kentucky,26.491667,0.029000,5.058333,22.0,39.0,0.829167,1.620
16,2013.0,LA,Louisiana,28.537500,0.047792,9.808333,23.0,65.0,0.991667,2.100
17,2013.0,MA,Massachusetts,39.541667,0.053000,5.279167,23.0,20.0,0.741667,2.073
18,2013.0,MD,Maryland,32.750000,0.057417,4.625000,23.0,44.0,1.045833,2.400
19,2013.0,ME,Maine,38.604167,0.049125,8.283333,23.0,34.0,1.208333,2.200
20,2013.0,MO,Missouri,31.044444,0.043292,11.775000,23.0,70.0,0.554167,1.463
21,2013.0,NC,North Carolina,26.583333,0.055714,2.200000,23.0,14.0,1.279167,2.000
22,2013.0,ND,North Dakota,20.541667,0.055708,1.158333,23.0,9.0,0.275000,0.603
23,2013.0,NJ,New Jersey,49.583333,0.054208,4.833333,23.0,34.0,1.345833,5.270
24,2013.0,NM,New Mexico,30.516667,0.060083,1.916667,23.0,7.0,0.576208,1.521
25,2013.0,NV,Nevada,58.433333,0.057625,4.429167,23.0,11.0,1.508333,2.469
26,2013.0,NY,New York,49.081818,0.055458,11.145833,23.0,36.0,0.983333,2.100
27,2013.0,OH,Ohio,41.913043,0.060792,24.426087,23.0,117.0,0.642917,2.407
28,2013.0,OK,Oklahoma,24.083333,0.069708,5.082609,23.0,51.0,0.622500,1.620
29,2013.0,OR,Oregon,27.275000,0.039458,2.887500,23.0,16.0,1.225000,2.337
...,...,...,...,...,...,...,...,...,...,...
125,2016.0,CO,Colorado,63.022727,0.041833,4.650000,23.0,19.0,1.356957,3.200
126,2016.0,DC,District Of Columbia,31.572727,0.047792,2.085714,23.0,11.0,0.545833,1.293
127,2016.0,DE,Delaware,36.541667,0.041792,2.825000,23.0,13.0,0.850000,1.591
128,2016.0,FL,Florida,15.500000,0.041208,1.272727,18.0,7.0,1.058333,1.500
129,2016.0,GA,Georgia,22.612500,0.035875,2.416667,23.0,21.0,0.850000,1.569
130,2016.0,IA,Iowa,13.850000,0.049083,1.178261,23.0,4.0,0.357217,0.820
131,2016.0,IL,Illinois,27.679167,0.040375,3.991667,23.0,40.0,0.645833,1.100
132,2016.0,IN,Indiana,27.486364,0.047042,2.325000,23.0,13.0,0.745833,2.000
133,2016.0,KS,Kansas,23.962500,0.045083,3.845833,23.0,19.0,0.467652,1.495
134,2016.0,LA,Louisiana,34.800000,0.044042,6.166667,23.0,29.0,0.754167,2.250
135,2016.0,MA,Massachusetts,38.291667,0.045737,2.379167,23.0,9.0,0.669545,1.974
136,2016.0,MD,Maryland,42.195833,0.053542,3.686957,23.0,20.0,0.975083,2.077
137,2016.0,ME,Maine,31.850000,0.043375,4.660000,23.0,17.0,0.850375,1.852
138,2016.0,MO,Missouri,22.750000,0.037708,3.104545,23.0,7.0,0.562500,1.494
139,2016.0,NC,North Carolina,21.925000,0.056083,1.513043,23.0,6.0,0.583333,1.205
140,2016.0,ND,North Dakota,14.225000,0.034375,0.629167,23.0,1.0,0.238708,0.644
141,2016.0,NH,New Hampshire,14.200000,0.043417,1.854167,23.0,4.0,0.341667,0.563
142,2016.0,NV,Nevada,38.529167,0.046292,2.269231,23.0,7.0,0.821227,1.371
143,2016.0,NY,New York,55.608333,0.042208,6.195833,23.0,14.0,0.989417,1.760
144,2016.0,OH,Ohio,39.652174,0.049208,23.117391,23.0,55.0,0.694476,1.587
145,2016.0,OK,Oklahoma,17.741667,0.047333,2.295238,23.0,13.0,0.670000,1.420
146,2016.0,PA,Pennsylvania,42.208333,0.053250,18.541667,23.0,81.0,0.658333,1.300
147,2016.0,RI,Rhode Island,33.960870,0.049000,1.791304,23.0,6.0,0.644783,1.390
148,2016.0,SC,South Carolina,18.857143,0.042375,0.745833,23.0,4.0,0.394444,0.700
149,2016.0,TN,Tennessee,3.039130,0.053708,0.786957,23.0,4.0,0.233333,0.400
150,2016.0,TX,Texas,37.912500,0.047792,2.545833,23.0,21.0,1.266667,3.320
151,2016.0,UT,Utah,45.750000,0.027333,1.350000,23.0,4.0,0.875000,2.170
152,2016.0,VA,Virginia,27.395833,0.035083,1.612500,23.0,7.0,0.670833,1.230
153,2016.0,WA,Washington,23.395833,0.028042,0.616667,23.0,3.0,0.468304,0.888
154,2016.0,WY,Wyoming,16.195833,0.046958,0.383333,23.0,7.0,0.175000,0.315

In [ ]:
# - mean

pol_groupby_mean_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).mean().reset_index().groupby('State_Abbr', as_index=False)
pol_groupby_mean_df.head(11)

Merge the dataframes

In [ ]:
# -

In [6]:
stats_df = pd.merge(pol_groupby_min_df, pol_groupby_max_df, how='left', left_on=['year', 'State_Abbr'], right_on=['year', 'State_Abbr'])
stats_df.head(2)

TypeError: Can only merge Series or DataFrame objects, a <class 'pandas.core.groupby.generic.DataFrameGroupBy'> was passed