In [20]:
import pandas as pd
import datetime as dt
#  import numpy as np
import json
import requests
from sqlalchemy import create_engine

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import os
# Set up directories
input_dir = 'input_data'
landing_dir = 'landing_data'
cleaned_dir = 'cleaned_data'

PSQL_USER='toddh'
PSQL_PWD='heritage'

In [2]:
INPUT_FILE = os.path.join( landing_dir, 'pol_13_16_df.csv')

pol_13_16_df = pd.read_csv(INPUT_FILE)
pol_13_16_df.head()

,State,State_Abbr,id,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,Alabama,AL,0.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.259091,0.80,2013.0
1,Alabama,AL,1.0,2013-12-01,Parts per billion,17.208333,Parts per million,0.013542,Parts per billion,0.313636,11.0,1.0,Parts per million,0.266667,0.50,2013.0
2,Alabama,AL,4.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.305625,0.47,2013.0
3,Alabama,AL,5.0,2013-12-02,Parts per billion,20.687500,Parts per million,0.009375,Parts per billion,0.530000,11.0,3.0,Parts per million,0.400000,0.50,2013.0
4,Alabama,AL,8.0,2013-12-03,Parts per billion,14.912500,Parts per million,0.008167,Parts per billion,0.305263,11.0,3.0,Parts per million,0.216818,0.35,2013.0

In [3]:
# drop columns not needed - I hope.
pol_13_16_df.drop(columns=['State', 'id', 'Date_Local', 'NO2_Units', 'NO2_Mean', 'SO2_Units', 'SO2_Mean', \
                           'SO2 1st Max Hour', 'SO2 AQI', 'CO_Units', 'CO_Mean', 'CO 1st Max Value'], inplace=True)
pol_13_16_df.head()

  State_Abbr           O3_Units   O3_Mean    year
0         AL  Parts per million  0.013542  2013.0
1         AL  Parts per million  0.013542  2013.0
2         AL  Parts per million  0.009375  2013.0
3         AL  Parts per million  0.009375  2013.0
4         AL  Parts per million  0.008167  2013.0

Go thru and generate stats off of pol_13_16_df dataframe

In [4]:
# df.groupby(['col5','col2']).reset_index()

# pol_groupby_min_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).min()\
#    .groupby('State_Abbr', as_index=False)
pol_groupby_min_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).min()

pol_groupby_min_df.head()

     year State_Abbr           O3_Units   O3_Mean
0  2013.0         AL  Parts per million  0.000000
1  2013.0         AR  Parts per million  0.003292
2  2013.0         AZ  Parts per million  0.002000
3  2013.0         CA  Parts per million  0.000000
4  2013.0         CO  Parts per million  0.000083

In [5]:
# - get max

pol_groupby_max_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).max()
pol_groupby_max_df.head()

     year State_Abbr           O3_Units   O3_Mean
0  2013.0         AL  Parts per million  0.026333
1  2013.0         AR  Parts per million  0.049000
2  2013.0         AZ  Parts per million  0.059750
3  2013.0         CA  Parts per million  0.071167
4  2013.0         CO  Parts per million  0.057100

In [6]:
# - mean

pol_groupby_mean_df = pol_13_16_df.groupby(['year', 'State_Abbr'], as_index=False).mean()
pol_groupby_mean_df.head(11)

      year State_Abbr   O3_Mean
0   2013.0         AL  0.012099
1   2013.0         AR  0.025577
2   2013.0         AZ  0.027973
3   2013.0         CA  0.026075
4   2013.0         CO  0.028709
5   2013.0         CT  0.031195
6   2013.0         DC  0.025497
7   2013.0         DE  0.028941
8   2013.0         FL  0.026027
9   2013.0         GA  0.019709
10  2013.0         HI  0.028246

Merge the dataframes

In [7]:
# -

In [8]:
stats_df = pd.merge(pol_groupby_min_df, pol_groupby_max_df, how='left', left_on=['year', 'State_Abbr'], right_on=['year', 'State_Abbr'], suffixes=("_min", "_max"))
stats_df.head()

,year,State_Abbr,O3_Units_min,O3_Mean_min,O3_Units_max,O3_Mean_max
0,2013.0,AL,Parts per million,0.000000,Parts per million,0.026333
1,2013.0,AR,Parts per million,0.003292,Parts per million,0.049000
2,2013.0,AZ,Parts per million,0.002000,Parts per million,0.059750
3,2013.0,CA,Parts per million,0.000000,Parts per million,0.071167
4,2013.0,CO,Parts per million,0.000083,Parts per million,0.057100

In [9]:
# Clean up the columns in stats_df
stats_df.drop(columns=['O3_Units_max'])

       year State_Abbr       O3_Units_min  O3_Mean_min  O3_Mean_max
0    2013.0         AL  Parts per million     0.000000     0.026333
1    2013.0         AR  Parts per million     0.003292     0.049000
2    2013.0         AZ  Parts per million     0.002000     0.059750
3    2013.0         CA  Parts per million     0.000000     0.071167
4    2013.0         CO  Parts per million     0.000083     0.057100
..      ...        ...                ...          ...          ...
150  2016.0         TX  Parts per million     0.004375     0.047792
151  2016.0         UT  Parts per million     0.004292     0.027333
152  2016.0         VA  Parts per million     0.007542     0.035083
153  2016.0         WA  Parts per million     0.001958     0.028042
154  2016.0         WY  Parts per million     0.025125     0.046958

[155 rows x 5 columns]

In [10]:
stats_df = pd.merge(stats_df, pol_groupby_mean_df)
stats_df.head()

,year,State_Abbr,O3_Units_min,O3_Mean_min,O3_Units_max,O3_Mean_max,O3_Mean
0,2013.0,AL,Parts per million,0.000000,Parts per million,0.026333,0.012099
1,2013.0,AR,Parts per million,0.003292,Parts per million,0.049000,0.025577
2,2013.0,AZ,Parts per million,0.002000,Parts per million,0.059750,0.027973
3,2013.0,CA,Parts per million,0.000000,Parts per million,0.071167,0.026075
4,2013.0,CO,Parts per million,0.000083,Parts per million,0.057100,0.028709

In [11]:
# finalize column names
stats_df.rename(columns={"O3_Units_min": "O3_Units", "O3_Mean_min": "O3_min", "O3_Mean_max": "O3_max"})

,year,State_Abbr,O3_Units,O3_min,O3_Units_max,O3_max,O3_Mean
0,2013.0,AL,Parts per million,0.000000,Parts per million,0.026333,0.012099
1,2013.0,AR,Parts per million,0.003292,Parts per million,0.049000,0.025577
2,2013.0,AZ,Parts per million,0.002000,Parts per million,0.059750,0.027973
3,2013.0,CA,Parts per million,0.000000,Parts per million,0.071167,0.026075
4,2013.0,CO,Parts per million,0.000083,Parts per million,0.057100,0.028709
5,2013.0,CT,Parts per million,0.000958,Parts per million,0.067250,0.031195
6,2013.0,DC,Parts per million,0.000125,Parts per million,0.055917,0.025497
7,2013.0,DE,Parts per million,0.001667,Parts per million,0.047833,0.028941
8,2013.0,FL,Parts per million,0.008583,Parts per million,0.049042,0.026027
9,2013.0,GA,Parts per million,0.002875,Parts per million,0.047250,0.019709
10,2013.0,HI,Parts per million,0.009333,Parts per million,0.046042,0.028246
11,2013.0,IA,Parts per million,0.004208,Parts per million,0.051875,0.028335
12,2013.0,IL,Parts per million,0.001000,Parts per million,0.053417,0.023803
13,2013.0,IN,Parts per million,0.007000,Parts per million,0.054583,0.028499
14,2013.0,KS,Parts per million,0.003292,Parts per million,0.055417,0.025206
15,2013.0,KY,Parts per million,0.003875,Parts per million,0.029000,0.015324
16,2013.0,LA,Parts per million,0.002167,Parts per million,0.047792,0.023654
17,2013.0,MA,Parts per million,0.000857,Parts per million,0.053000,0.021579
18,2013.0,MD,Parts per million,0.001667,Parts per million,0.057417,0.025452
19,2013.0,ME,Parts per million,0.006458,Parts per million,0.049125,0.027153
20,2013.0,MO,Parts per million,0.006583,Parts per million,0.043292,0.024122
21,2013.0,NC,Parts per million,0.002389,Parts per million,0.055714,0.025436
22,2013.0,ND,Parts per million,0.006412,Parts per million,0.055708,0.029310
23,2013.0,NJ,Parts per million,0.000000,Parts per million,0.054208,0.024276
24,2013.0,NM,Parts per million,0.007917,Parts per million,0.060083,0.033061
25,2013.0,NV,Parts per million,0.000250,Parts per million,0.057625,0.028117
26,2013.0,NY,Parts per million,0.001583,Parts per million,0.055458,0.024628
27,2013.0,OH,Parts per million,0.000458,Parts per million,0.060792,0.023429
28,2013.0,OK,Parts per million,0.005708,Parts per million,0.069708,0.030171
29,2013.0,OR,Parts per million,0.000000,Parts per million,0.039458,0.017591
...,...,...,...,...,...,...,...
125,2016.0,CO,Parts per million,0.000000,Parts per million,0.041833,0.020989
126,2016.0,DC,Parts per million,0.013083,Parts per million,0.047792,0.031057
127,2016.0,DE,Parts per million,0.002542,Parts per million,0.041792,0.025159
128,2016.0,FL,Parts per million,0.012583,Parts per million,0.041208,0.029213
129,2016.0,GA,Parts per million,0.002000,Parts per million,0.035875,0.019770
130,2016.0,IA,Parts per million,0.010375,Parts per million,0.049083,0.030609
131,2016.0,IL,Parts per million,0.002750,Parts per million,0.040375,0.025014
132,2016.0,IN,Parts per million,0.009750,Parts per million,0.047042,0.026542
133,2016.0,KS,Parts per million,0.008042,Parts per million,0.045083,0.022840
134,2016.0,LA,Parts per million,0.007792,Parts per million,0.044042,0.026846
135,2016.0,MA,Parts per million,0.003542,Parts per million,0.045737,0.023563
136,2016.0,MD,Parts per million,0.001917,Parts per million,0.053542,0.027409
137,2016.0,ME,Parts per million,0.008167,Parts per million,0.043375,0.028197
138,2016.0,MO,Parts per million,0.004542,Parts per million,0.037708,0.023046
139,2016.0,NC,Parts per million,0.006667,Parts per million,0.056083,0.029335
140,2016.0,ND,Parts per million,0.015417,Parts per million,0.034375,0.025868
141,2016.0,NH,Parts per million,0.015792,Parts per million,0.043417,0.031651
142,2016.0,NV,Parts per million,0.000389,Parts per million,0.046292,0.022641
143,2016.0,NY,Parts per million,0.000667,Parts per million,0.042208,0.023972
144,2016.0,OH,Parts per million,0.004958,Parts per million,0.049208,0.025508
145,2016.0,OK,Parts per million,0.009458,Parts per million,0.047333,0.025688
146,2016.0,PA,Parts per million,0.002917,Parts per million,0.053250,0.027863
147,2016.0,RI,Parts per million,0.005583,Parts per million,0.049000,0.032334
148,2016.0,SC,Parts per million,0.009458,Parts per million,0.042375,0.029761
149,2016.0,TN,Parts per million,0.021167,Parts per million,0.053708,0.037965
150,2016.0,TX,Parts per million,0.004375,Parts per million,0.047792,0.026515
151,2016.0,UT,Parts per million,0.004292,Parts per million,0.027333,0.013308
152,2016.0,VA,Parts per million,0.007542,Parts per million,0.035083,0.022908
153,2016.0,WA,Parts per million,0.001958,Parts per million,0.028042,0.015436
154,2016.0,WY,Parts per million,0.025125,Parts per million,0.046958,0.039149

In [12]:
stats_df.drop(columns=['O3_Units_max'])
stats_df.head()

,year,State_Abbr,O3_Units_min,O3_Mean_min,O3_Units_max,O3_Mean_max,O3_Mean
0,2013.0,AL,Parts per million,0.000000,Parts per million,0.026333,0.012099
1,2013.0,AR,Parts per million,0.003292,Parts per million,0.049000,0.025577
2,2013.0,AZ,Parts per million,0.002000,Parts per million,0.059750,0.027973
3,2013.0,CA,Parts per million,0.000000,Parts per million,0.071167,0.026075
4,2013.0,CO,Parts per million,0.000083,Parts per million,0.057100,0.028709

In [13]:
# before writing out file convert Year to int so now dot zero (.0) is present in file
stats_df['year'] = pd.to_numeric(stats_df['year'], downcast='integer')
stats_df.head()

,year,State_Abbr,O3_Units_min,O3_Mean_min,O3_Units_max,O3_Mean_max,O3_Mean
0,2013,AL,Parts per million,0.000000,Parts per million,0.026333,0.012099
1,2013,AR,Parts per million,0.003292,Parts per million,0.049000,0.025577
2,2013,AZ,Parts per million,0.002000,Parts per million,0.059750,0.027973
3,2013,CA,Parts per million,0.000000,Parts per million,0.071167,0.026075
4,2013,CO,Parts per million,0.000083,Parts per million,0.057100,0.028709

In [14]:
stats_df=stats_df.rename(columns={'year':'Year', 'State_Abbr':'State', 'O3_Units_min':'O3_Units_Measurement', 'O3_Mean_min':'O3_min', 'O3_Mean_max':'O3_max'})
stats_df=stats_df.drop(['O3_Units_max'], axis=1)
stats_df.head()

   Year State O3_Units_Measurement    O3_min    O3_max   O3_Mean
0  2013    AL    Parts per million  0.000000  0.026333  0.012099
1  2013    AR    Parts per million  0.003292  0.049000  0.025577
2  2013    AZ    Parts per million  0.002000  0.059750  0.027973
3  2013    CA    Parts per million  0.000000  0.071167  0.026075
4  2013    CO    Parts per million  0.000083  0.057100  0.028709

In [15]:
# save to a text file in case of problems with loading
OUTPUT_FILE = os.path.join( cleaned_dir, 'cleaned_pollution.csv')
stats_df.to_csv(OUTPUT_FILE)

In [21]:
# load to the database

rds_connection_string = f'{PSQL_USER}:{PSQL_PWD}@localhost:5432/pollution'
engine = create_engine(f'postgresql://{rds_connection_string}')

print(PSQL_USER)
print(PSQL_PWD)

toddh
heritage

In [22]:
stats_df.to_sql(name='cleaned_pollution', con=engine, if_exists='append', index=False)