In [2]:
import pandas as pd
import datetime as dt
#  import numpy as np
import json
import requests


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
pol_13_16_df = pd.read_csv('landing_data/pol_13_16_df.csv')
pol_13_16_df.head()

,State,State_Abbr,id,Date_Local,NO2_Units,NO2_Mean,O3_Units,O3_Mean,SO2_Units,SO2_Mean,SO2 1st Max Hour,SO2 AQI,CO_Units,CO_Mean,CO 1st Max Value,year
0,Oregon,OR,80120.0,2010-05-25,Parts per billion,14.916667,Parts per million,0.013625,Parts per billion,1.295833,7.0,3.0,Parts per million,0.362500,0.50,2010.0
1,Oregon,OR,80123.0,2010-05-26,Parts per billion,13.583333,Parts per million,0.020167,Parts per billion,1.437500,4.0,6.0,Parts per million,0.327917,0.66,2010.0
2,Oregon,OR,80124.0,2010-05-26,Parts per billion,13.583333,Parts per million,0.020167,Parts per billion,1.437500,4.0,6.0,Parts per million,0.366667,0.60,2010.0
3,Oregon,OR,80127.0,2010-05-27,Parts per billion,11.000000,Parts per million,0.019250,Parts per billion,1.178261,6.0,1.0,Parts per million,0.315417,0.46,2010.0
4,Oregon,OR,80128.0,2010-05-27,Parts per billion,11.000000,Parts per million,0.019250,Parts per billion,1.178261,6.0,1.0,Parts per million,0.345833,0.40,2010.0